@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500&family=Raleway:wght@100;200;300&display=swap');

body {
  background-color: rgb(44, 44, 44);
  margin: 0;
  font-family: "Raleway", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: orangered;
}

.game-card {
  border-radius: 10px;
  margin-bottom: 3rem;
  background-color:aliceblue
}

#games-title {
  text-align: center;
  font-size: 3rem;
  color: white;

}

#games-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-evenly;
  width: 90%;
  max-width: 100%;
}

#center-games-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-card-bottom {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.game-card-title {
  grid-area: 1 / 1 / 2 / 5;
  font-family: 'Montserrat', sans-serif;

}

.game-card-rating {
  grid-area: 2 / 1 / 3 / 5;
}

.game-card-score {
  grid-area: 1 / 5 / 3 / 6;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 2rem;

}

.game-card.ant-card-hoverable:hover {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
}

.must-play-games {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
}

.must-play-card {
  border: 1px black solid;
}